@page
@model CrudProducts.Pages.Admin.AuthModel
@{
    ViewData["Title"] = "Authentification";
}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            background-color: #f0f0f0;
            text-align: center;
            margin-top: 50px;
        }

        h1 {
            color: #333;
        }

        form {
            max-width: 300px;
            margin: 0 auto;
            background-color: #fff;
            padding: 20px;
            border-radius: 5px;
            box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
        }

        input {
            width: 100%;
            padding: 10px;
            margin-bottom: 10px;
            border: 1px solid #ccc;
            border-radius: 5px;
        }

        button {
            background-color: #3498db;
            color: #fff;
            padding: 10px;
            border: none;
            border-radius: 5px;
            cursor: pointer;
        }

            button:hover {
                background-color: #2980b9;
            }
    </style>
</head>

<body>
    <h1>@ViewData["Title"]</h1>
    <form method="post">
        <input type="text" name="username" placeholder="Login">

        <input type="password" name="password" placeholder="Mot de passe">

        <button>Se connecter</button>
    </form>
</body>

</html>
